:root{
    --background: #e8e6e7;
    --header: #1d1d1f;
    --cinza: #888;
    --branco: #fff;
    --cinza-secundario: #999;
    --botao: #0071e3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: var(--background);
}

header{
    padding: 20px 70px;
    background: var(--header);
}

.navegação{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.topicos{
    display: flex;
    align-items: center;
    gap: 60px;
}

.topicos-link{
    color: var(--cinza);
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}

.topicos-link:hover{
    color: var(--branco);
    border-bottom: 1px solid var(--branco);
}

.check{
    color: var(--branco);
    border-bottom: 1px solid var(--branco);
}

/* main */

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.main-texto img{
    width: 15rem;
    margin-bottom: 3vh;
}

.main-texto h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main-texto p{
    margin-bottom: 1.5rem;
}

.main-texto h6{
    color: var(--cinza-secundario);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.botao{
    padding: 10px 25px;
    background: var(--botao);
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5rem;
}