:root{
    --background: #e8e6e7;
    --header: #1d1d1f;
    --cinza: #888;
    --branco: #fff;
    --cinza-secundario: #999;
    --botao: #0071e3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: var(--background);
}

header{
    padding: 20px 70px;
    background: var(--header);
}

.navegação{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.topicos{
    display: flex;
    align-items: center;
    gap: 60px;
}

.topicos-link{
    color: var(--cinza);
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}

.topicos-link:hover{
    color: var(--branco);
    border-bottom: 1px solid var(--branco);
}

.check{
    color: var(--branco);
    border-bottom: 1px solid var(--branco);
}

/* main */

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.main-texto img{
    width: 15rem;
    margin-bottom: 3vh;
}

.main-texto h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main-texto p{
    margin-bottom: 1.5rem;
}

.main-texto h6{
    color: var(--cinza-secundario);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.botao{
    padding: 10px 25px;
    background: var(--botao);
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5rem;
    transition: all .5s;
}

.botao:hover{
    opacity: .85;
}

.texto{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px var(--cinza);
    transition: all .5s;
}

.container span:hover{
    opacity: .80;
}

/* Cores */

#verde{
    background: #384937;
}

#rosa{
    background: #f8ddd6;
}

#azul{
    background: #225f7e;
}

#preto{
    background: #192028;
}

#branco{
    background: #f7f2ee;
}

#vermelho{
    background: #ae0617;
}

.main-img{
    transition: all 1s ease;
    z-index: 100;
}

.main-img img{
    width: 500px;
    transform: rotate(-7deg);
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 106%;
    height: 100%;
    background: #445c42;
    clip-path: circle(800px at right 1000px);
}